* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.logo img {
  width: 80px;
  margin: 10px;
}

.navbar{
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  position:sticky;
  top: 0;
  z-index: 1;
}

a {
  position: relative;
  text-decoration: none;
  font-size: 30px;
  color: white;
}

a::after {
  background-color: aqua;
  width: 0px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transition: 0.2s;
  transform: translateX(-50%);
}

a:hover::after {
  width: 100%;
}

a:hover {
  color: goldenrod;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  /* text-align: center; */
}



nav ul li {
  display: inline-block;
  margin: 20px;
}

.tags {
  background-color: black;
  color: goldenrod;
  font-size: 44px;
  padding-left: 30px;
}

.tags button {
  width: 200px;
  height: 50px;
  margin-top: 50px;
  border-radius: 20px;
  font-size: 20px;
  color: black;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.home .content img{
  max-width: auto;
  max-height: auto;
}

.tags {
  background-color: black;
  color: goldenrod;
  font-size: 44px;
  padding-left: 30px;
}

.tags button {
  width: 200px;
  height: 50px;
  margin-top: 50px;
  border-radius: 20px;
  font-size: 20px;
  color: black;
}

.home{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0px;
  z-index:-1;
}



/* categories */

/* .home{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.tags{
  background-color: black;
  color: goldenrod;
  font-size: 44px;
  padding-left: 30px;
}

.tags button{
  width: 200px;
  height: 50px;
  margin-top: 50px;
  border-radius: 20px;
  font-size: 20px;
  color: black;
}


.featured{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  
}

.featured .product{
  margin: 80px auto 0px auto;
}

.product img{
  width: 300px;
  height: 30vh;
  margin: 0px;
} */

/* featured products */
.container {
  margin: 50px;
  border-radius: 10px;
  background: #bdc3c7;
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  );
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); 
}

.contain {
  margin: 100px auto;
  text-align: center;
  position: relative;
  border-radius: 10px;
  background: #bdc3c7;
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  );
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); 
}

.contain h1 {
  color: black;
}

h1:hover {
  color: white;
}

.products {
  margin: 30px;
  transition: 0.9s;
  color: white;
}

.products:hover {
  transform: scale(1.2);
}

.products img {
  width: 275px;
  height: 180px;
  border-radius: 10px;
}

.sect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

/* testimonials */

.container h1{
  text-align: center;
}


.testimonials .item{
  min-width: 1400px;
  min-height: 440px;
  text-align: center;
  background-color: white;
  margin:20px;
  font-size: 30px;
}

.testimonials{
  border: 1px solid grey;
  width: 100%;
  display: flex;
  overflow-x:auto;
}

.item img{
  width: 300px;
  margin:25px ;
  border-radius: 140px;
}

/* footer */
.footer {
  background: black;
  text-align: center;
 
}

.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  margin: 0.3rem;
  border-radius: 50%;
}


.footer .links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  padding: 0.7rem 2rem;
  color: #fff;
  font-size: 2rem;
}

.footer .credit {
  font-size: 2rem;
  color: #fff;
  font-weight: lighter;
  padding: 1.5rem;
}


@media (max-width:450px){
  .products img{
    width: 200px;
  }
 
  .testimonials .item{

    min-width: 400px;
    min-height: 20px;
    font-size: 20px;
  }

  .footer{
    width: 400px;
    font-size: 20px;
    margin: 0;
  }
}